.search-column{
    background: orange;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}

.card-body{
    flex:auto
}

span.severe{
    padding: 2px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 2px;
    background-color: yellow;
    border: 1px;
    border-style: dashed;
}

span.favorable{
    padding: 2px;
    background-color: green;
    color:white;
}

.img-thumbnail{
    height: 500px;
    width: 100%;
}